{% extends 'blog/base.html' %}

{% block content %}

<form method="get" action="{% url 'home' %}" class="mb-4">

    <input
        type="text"
        name="q"
        placeholder="Search posts...">

    <button type="submit">
        Search
    </button>

</form>


<div class="row">

    <!-- Posts -->
    <div class="col-lg-8">

        {% for post in page_obj %}

        <div class="card mb-4">

            {% if post.image %}

                <img src="{{ post.image.url }}"
                     class="card-img-top"
                     alt="{{ post.title }}"
                     style="height:250px; object-fit:cover;">

            {% endif %}

            <div class="card-body">

                <h3 class="card-title">
                    {{ post.title }}
                </h3>

                <p class="text-muted">

                    By {{ post.author }}

                    |

                    {{ post.created_at|date:"M d, Y" }}

                </p>

                <p class="card-text">

                    {{ post.content|truncatechars:50 }}

                </p>

                <a href="{% url 'post_detail' post.slug %}"
                   class="btn btn-primary">

                    Read More...

                </a>

            </div>

        </div>

        {% empty %}

            <p>No posts yet.</p>

        {% endfor %}

    </div>


    <!-- Sidebar -->
    <div class="col-lg-4">
<!--    categories-->
    <div class="card mb-4">

        <div class="card-header">

        Categories

        </div>

    <div class="list-group list-group-flush">

        {% for category in categories %}

            <a href="{% url 'category_posts' category.slug %}"
               class="list-group-item list-group-item-action">

                {{ category.name }}

                <span class="badge bg-secondary float-end">
                    {{ category.post_count }}
                </span>

            </a>

        {% empty %}

            <div class="list-group-item">

                No categories

            </div>

        {% endfor %}

    </div>

    <div class="card mb-4">
<!--    latest posts card -->
    <div class="card-header">
        Latest Posts
    </div>

    <div class="list-group list-group-flush">

        {% for latest in latest_posts %}

            <a href="{% url 'post_detail' latest.slug %}"
               class="list-group-item list-group-item-action">

                {{ latest.title }}

            </a>

        {% endfor %}

    </div>

</div>

    <div class="card">

    <div class="card-header">
        Tags
    </div>

    <div class="card-body">

        {% for tag in tags %}

            <a href="{% url 'tag_posts' tag.slug %}"
               class="badge bg-primary text-decoration-none">

                {{ tag.name }}

            </a>

        {% empty %}

            No Tags

        {% endfor %}

    </div>

</div>

    </div>

    </div>

<hr>

    <!--pagiation-->
<div class="d-flex justify-content-between">

    {% if page_obj.has_previous %}

        <a href="?page={{ page_obj.previous_page_number }}"
           class="btn btn-outline-primary">

            Previous

        </a>

    {% endif %}


    <span class="align-self-center">

        Page {{ page_obj.number }}

        of

        {{ page_obj.paginator.num_pages }}

    </span>


    {% if page_obj.has_next %}

        <a href="?page={{ page_obj.next_page_number }}"
           class="btn btn-outline-primary">

            Next

        </a>

    {% endif %}

</div>

{% endblock %}