{% extends 'blog/base.html' %}

{% block content %}

<!--image-->
{% if post.image %}

    <img src="{{ post.image.url }}"
     class="img-fluid rounded mb-100"
     alt="{{ post.title }}">

{% endif %}


<h1 class="mb-3">
    {{ post.title }}
</h1>

<p class="text-muted">
    By <strong>{{ post.author }}</strong>

    |

    {{ post.created_at|date:"F d, Y" }}
</p>


<div class="fs-5">

    {{ post.content|linebreaks }}

</div>

<hr>

<!-- Comment Form -->

<h3>Leave a Comment</h3>

{% if user.is_authenticated %}

<form method="post">

    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">
        Submit
    </button>

</form>

{% else %}

        <p>
            Please <a href="{% url 'login' %}">login</a> to leave a comment.
        </p>

{% endif %}


<hr>

<!-- Comments -->

<h3>Comments</h3>

{% for comment in post.comments.all %}

    {% if comment.is_approved %}

        <p>

            <strong>{{ comment.author }}</strong>

            <br>

            {{ comment.body }}

        </p>

        <hr>

    {% endif %}

{% empty %}

    <p>No comments yet.</p>

{% endfor %}

<p>
    <strong>Category:</strong>
    <a href="{% url 'category_posts' post.category.slug %}">
    {{ post.category.name }}</a>
</p>

<p>
    <strong>Tags:</strong>

    {% for tag in post.tags.all %}

    <a href="{% url 'tag_posts' tag.slug %}">
        {{ tag.name }}
    </a>

    {% empty %}

      No tags

    {% endfor %}

</p>

{% endblock %}